[submodule "sgl-kernel/3rdparty/cutlass"]
	path = sgl-kernel/3rdparty/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "sgl-kernel/3rdparty/cccl"]
	path = sgl-kernel/3rdparty/cccl
	url = https://github.com/NVIDIA/cccl.git
[submodule "sgl-kernel/3rdparty/flashinfer"]
	path = sgl-kernel/3rdparty/flashinfer
	url = https://github.com/flashinfer-ai/flashinfer.git
[submodule "sgl-kernel/3rdparty/turbomind"]
	path = sgl-kernel/3rdparty/turbomind
	url = https://github.com/InternLM/turbomind
