apiVersion: batch.volcano.sh/v1alpha1
kind: Job
metadata:
  name: {{ kube_job_name }}
  namespace: {{ name_space }}
  labels:
    ring-controller.atlas: ascend-1980
    fault-scheduling: "force"
spec:
  minAvailable: 1
  schedulerName: volcano
  policies:
    - event: PodEvicted
      action: RestartJob
  tasks:
  - name: "pod"
    replicas: 1
    template:
      metadata:
        labels:
          app: sgl-ascend
          ring-controller.atlas: ascend-1980
      spec:
        containers:
        - image: {{ image }}
          imagePullPolicy: Always
          securityContext:
            privileged: true
          name: sgl-ascend
          env:
          - name: HOSTNAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.hostIP
          - name: INSTALL_SGLANG_FROM_SOURCE
            value: "{{ install_sglang_from_source }}"
          - name: METRICS_DATA_FILE
            value: "{{ metrics_data_file }}"
          - name: KUBECONFIG
            value: "{{ kube_config }}"
          - name: NAMESPACE
            value: "ascend-sglang-single"
          - name: HF_ENDPOINT
            value: "https://hf-mirror.com"
          - name: SGLANG_IS_IN_CI
            value: : "true"
          command: ["/bin/bash", "-c"]
          args:
            - |
               bash /root/sglang/python/sglang/test/ascend/performance/run_ascend_testcase.sh {{ test_case }}
          resources:
            requests:
              huawei.com/ascend-1980: {{ npu_num }}
              cpu: "76"
            limits:
              huawei.com/ascend-1980: {{ npu_num }}
              cpu: "76"
          volumeMounts:
          - name: ascend-driver
            mountPath: /usr/local/Ascend/driver
          - name: localtime
            mountPath: /etc/localtime
          - name: kube-config
            mountPath: /root/script
          - name: share
            mountPath: /data
          - name: cache
            mountPath: /root/.cache
          - name: sglang-source-code
            mountPath: /root/sglang
        volumes:
        - name: kube-config
          hostPath:
            path: /root/script
        - name: share
          hostPath:
            path: /data
        - name: cache
          hostPath:
            path: /data/ascend-ci-share-pkking-sglang
        - name: ascend-driver
          hostPath:
            path: /usr/local/Ascend/driver
        - name: localtime
          hostPath:
            path: /etc/localtime
        - name: sglang-source-code
          hostPath:
            path: {{ sglang_source_path }}
        nodeSelector:
          accelerator/huawei-npu: ascend-snt9c
        restartPolicy: OnFailure
