apiVersion: v1
kind: ConfigMap
metadata:
  name: rings-config-mindx-dls-test
  namespace: kube-system
  labels:
    ring-controller.atlas: ascend-1980
data:
  hccl.json: |
    {
        "status":"initializing"
    }

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sglang-info
  namespace: kube-system
data: {}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: sglang-configmap-access
  namespace: kube-system
rules:
- apiGroups: [""]
  resources: ["configmaps"]
  resourceNames: ["sglang-info"]
  verbs: ["get", "update", "patch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: sglang-configmap-binding
  namespace: kube-system
subjects:
- kind: ServiceAccount
  name: default
  namespace: kube-system
roleRef:
  kind: Role
  name: sglang-configmap-access
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: sglang-pod-access
  namespace: kube-system
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: sglang-pod-binding
  namespace: kube-system
subjects:
- kind: ServiceAccount
  name: default
  namespace: kube-system
roleRef:
  kind: Role
  name: sglang-pod-access
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: batch.volcano.sh/v1alpha1
kind: Job
metadata:
  name: mindx-dls-test
  namespace: kube-system
  labels:
    ring-controller.atlas: ascend-1980
    fault-scheduling: "force"
spec:
  minAvailable: {{ prefill_size + decode_size + router_size | default(3) }}
  schedulerName: volcano
  policies:
    - event: PodEvicted
      action: RestartJob
  tasks:
  - name: "sglang-prefill"
    replicas: {{ prefill_size | default(1) }}
    template:
      metadata:
        labels:
          app: mindspore
          ring-controller.atlas: ascend-1980
      spec:
        hostNetwork: True
        containers:
        - image: {{ image | default("swr.ap-southeast-1.myhuaweicloud.com/base_image/ascend-ci/sglang:main") }}
          imagePullPolicy: Always
          securityContext:
            privileged: true
          name: mindspore
          env:
          - name: HOSTNAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.hostIP
          - name: ASCEND_VISIBLE_DEVICES
            valueFrom:
              fieldRef:
                fieldPath: metadata.annotations['huawei.com/ascend-1980']
          command: ["/bin/bash", "-c"]
          args:
            - |
               bash /root/.cache/tests/run_ascend_deepep.sh {{ test_case }}
          resources:
            requests:
              huawei.com/ascend-1980: 16
            limits:
              huawei.com/ascend-1980: 16
          volumeMounts:
          - name: ascend-910-config
            mountPath: /user/serverid/devindex/config
          - name: ascend-driver
            mountPath: /usr/local/Ascend/driver
          - name: localtime
            mountPath: /etc/localtime
          - name: kube-config
            mountPath: /root/script
          - name: share
            mountPath: /data
        volumes:
        - name: kube-config
          hostPath:
            path: /root/script
        - name: share
          hostPath:
            path: /data
        - name: ascend-910-config
          configMap:
            name: rings-config-mindx-dls-test
        - name: ascend-driver
          hostPath:
            path: /usr/local/Ascend/driver
        - name: localtime
          hostPath:
            path: /etc/localtime
        nodeSelector:
          accelerator/huawei-npu: ascend-snt9c
        restartPolicy: OnFailure
  - name: "sglang-decode"
    replicas: {{ decode_size | default(1) }}
    template:
      metadata:
        labels:
          app: mindspore
          ring-controller.atlas: ascend-1980
      spec:
        hostNetwork: True
        containers:
        - image: {{ image | default("swr.ap-southeast-1.myhuaweicloud.com/base_image/ascend-ci/sglang:main") }}
          imagePullPolicy: Always
          securityContext:
            privileged: true
          name: mindspore
          env:
          - name: HOSTNAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.hostIP
          - name: ASCEND_VISIBLE_DEVICES
            valueFrom:
              fieldRef:
                fieldPath: metadata.annotations['huawei.com/ascend-1980']
          command: ["/bin/bash", "-c"]
          args:
            - |
               bash /root/.cache/tests/run_ascend_deepep.sh {{ test_case }}
          resources:
            requests:
              huawei.com/ascend-1980: 16
            limits:
              huawei.com/ascend-1980: 16
          volumeMounts:
          - name: ascend-910-config
            mountPath: /user/serverid/devindex/config
          - name: ascend-driver
            mountPath: /usr/local/Ascend/driver
          - name: localtime
            mountPath: /etc/localtime
          - name: kube-config
            mountPath: /root/script
          - name: share
            mountPath: /data
        volumes:
        - name: kube-config
          hostPath:
            path: /root/script
        - name: share
          hostPath:
            path: /data
        - name: ascend-910-config
          configMap:
            name: rings-config-mindx-dls-test
        - name: ascend-driver
          hostPath:
            path: /usr/local/Ascend/driver
        - name: localtime
          hostPath:
            path: /etc/localtime
        nodeSelector:
          accelerator/huawei-npu: ascend-snt9c
        restartPolicy: OnFailure
  - name: "sglang-router"
    replicas: {{ router_size | default(1) }}
    template:
      metadata:
        labels:
          app: mindspore
          ring-controller.atlas: ascend-1980
      spec:
        hostNetwork: True
        containers:
        - image: {{ image | default("swr.ap-southeast-1.myhuaweicloud.com/base_image/ascend-ci/sglang:main") }}
          imagePullPolicy: Always
          securityContext:
            privileged: true
          name: mindspore
          env:
          - name: HOSTNAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.hostIP
          - name: ASCEND_VISIBLE_DEVICES
            valueFrom:
              fieldRef:
                fieldPath: metadata.annotations['huawei.com/ascend-1980']
          command: ["/bin/bash", "-c"]
          args:
            - |
               bash /root/.cache/tests/run_ascend_deepep.sh {{ test_case }}
          resources:
            requests:
              cpu: "4"
            limits:
              cpu: "4"
          volumeMounts:
          - name: ascend-910-config
            mountPath: /user/serverid/devindex/config
          - name: ascend-driver
            mountPath: /usr/local/Ascend/driver
          - name: localtime
            mountPath: /etc/localtime
          - name: kube-config
            mountPath: /root/script
          - name: share
            mountPath: /data
        volumes:
        - name: kube-config
          hostPath:
            path: /root/script
        - name: share
          hostPath:
            path: /data
        - name: ascend-910-config
          configMap:
            name: rings-config-mindx-dls-test
        - name: ascend-driver
          hostPath:
            path: /usr/local/Ascend/driver
        - name: localtime
          hostPath:
            path: /etc/localtime
        nodeSelector:
          accelerator/huawei-npu: ascend-snt9c
        restartPolicy: OnFailure
