name: Execute Notebooks

on:
  pull_request:
    branches: [ main ]
    types: [synchronize, labeled]
  workflow_dispatch:


concurrency:
  group: execute-notebook-${{ github.ref }}
  cancel-in-progress: true

env:
  SGLANG_IS_IN_CI: true

jobs:
  check-changes:
    runs-on: ubuntu-latest
    outputs:
      docs_or_sglang: ${{ steps.filter.outputs.docs_or_sglang || steps.force.outputs.docs_or_sglang }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Detect file changes
        id: filter
        if: github.event_name == 'pull_request'
        uses: dorny/paths-filter@v3
        with:
          filters: |
            docs_or_sglang:
              - "python/sglang/**"
              - "docs/**"
              - "!docs/**/*.md"
      - name: Force run for non-PR events
        id: force
        if: github.event_name != 'pull_request'
        run: echo "docs_or_sglang=true" >> $GITHUB_OUTPUT

  run-all-notebooks:
    needs: check-changes
    runs-on: 1-gpu-runner
    if: |
      github.event_name != 'pull_request' || (
        (
          (github.event.action != 'labeled' && contains(github.event.pull_request.labels.*.name, 'run-ci')) ||
          (github.event.action == 'labeled' && github.event.label.name == 'run-ci')
        ) &&
        needs.check-changes.outputs.docs_or_sglang == 'true'
      )
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          bash scripts/ci/cuda/ci_install_dependency.sh
          pip install -r docs/requirements.txt
          apt-get update && apt-get install -y pandoc parallel retry
          ln -sf "$(which python3)" /usr/bin/python

      - name: Setup Jupyter Kernel
        run: |
          python -m ipykernel install --user --name python3 --display-name "Python 3"

      - name: Execute notebooks
        timeout-minutes: 40
        run: |
          cd docs
          make clean
          make compile


  notebook-finish:
    needs: [
      run-all-notebooks
    ]
    runs-on: ubuntu-latest
    steps:
      - name: Check all dependent job statuses
        run: |
          results=(${{ join(needs.*.result, ' ') }})
          for result in "${results[@]}"; do
            if [ "$result" = "failure" ] || [ "$result" = "cancelled" ]; then
              echo "Job failed with result: $result"
              exit 1
            fi
          done
          echo "All jobs completed successfully"
          exit 0
