name: 'ascend test / nightly-test-npu-perf-a3'

on:
#  schedule:
#    - cron: "0 0 * * *"
  pull_request:
    branches:
      - 'main'
    paths:
      - ".github/workflows/nightly-test-npu-perf-a3.yml"
  workflow_dispatch:

concurrency:
  group: ascend-nightly-test-${{ github.ref }}-a3
  cancel-in-progress: true

jobs:
  nightly-performance-multi-node-pd-separation-tests:
    name: multi-node-pd-separation
    if: ${{ (github.repository == 'sgl-project/sglang' || github.event_name == 'pull_request') }}
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        test_config:
          - name: test_ascend_deepseek_r1_w4a8_1p1d_16p_in2k_out2k_50ms
            prefill_size: 1
            decode_size: 1
            router_size: 1
            test_case: test/manual/ascend/performance/test_ascend_deepseek_r1_w4a8_1p1d_16p_in2k_out2k_50ms.py
          - name: test_ascend_deepseek_r1_w4a8_1p1d_16p_in3k5_out1k5_50ms
            prefill_size: 1
            decode_size: 1
            router_size: 1
            test_case: test/manual/ascend/performance/test_ascend_deepseek_r1_w4a8_1p1d_16p_in3k5_out1k5_50ms.py
          - name: test_ascend_deepseek_r1_w8a8_2p1d_32p_in3k5_out1k5_20ms
            prefill_size: 2
            decode_size: 2
            router_size: 1
            test_case: test/manual/ascend/performance/test_ascend_deepseek_r1_w8a8_2p1d_32p_in3k5_out1k5_20ms.py
          - name: test_ascend_deepseek_r1_w8a8_2p1d_32p_in3k5_out1k5_50ms
            prefill_size: 2
            decode_size: 2
            router_size: 1
            test_case: test/manual/ascend/performance/test_ascend_deepseek_r1_w8a8_2p1d_32p_in3k5_out1k5_50ms.py
          - name: test_ascend_deepseek_r1_w8a8_2p1d_32p_in3k5_out1k_20ms
            prefill_size: 2
            decode_size: 2
            router_size: 1
            test_case: test/manual/ascend/performance/test_ascend_deepseek_r1_w8a8_2p1d_32p_in3k5_out1k_20ms.py
          - name: test_ascend_deepseek_r1_w8a8_2p1d_32p_in3k9_out1k_20ms
            prefill_size: 2
            decode_size: 2
            router_size: 1
            test_case: test/manual/ascend/performance/test_ascend_deepseek_r1_w8a8_2p1d_32p_in3k9_out1k_20ms.py
          - name: test_ascend_deepseek_r1_w8a8_2p1d_32p_in6k_out1k6_15ms
            prefill_size: 2
            decode_size: 2
            router_size: 1
            test_case: test/manual/ascend/performance/test_ascend_deepseek_r1_w8a8_2p1d_32p_in6k_out1k6_15ms.py
          - name: test_ascend_deepseek_v3_2_w8a8_1p1d_32p_in64k_out3k_30ms
            prefill_size: 2
            decode_size: 2
            router_size: 1
            test_case: test/manual/ascend/performance/test_ascend_deepseek_v3_2_w8a8_1p1d_32p_in64k_out3k_30ms.py
          - name: test_ascend_qwen3_235b_w8a8_1p1d_24p_in3k5_out1k5_50ms
            prefill_size: 1
            decode_size: 2
            router_size: 1
            test_case: test/manual/ascend/performance/test_ascend_qwen3_235b_w8a8_1p1d_24p_in3k5_out1k5_50ms.py
          - name: test_ascend_qwen3_480b_w8a8_1p1d_24p_in3k5_out1k5_50ms
            prefill_size: 1
            decode_size: 2
            router_size: 1
            test_case: test/manual/ascend/performance/test_ascend_qwen3_480b_w8a8_1p1d_24p_in3k5_out1k5_50ms.py
    uses: nightly-test-npu-perf-multi-node-pd-separation.yml
    with:
      runner: linux-aarch64-a3-0
      test_config_name: ${{ matrix.test_config.name }}
      prefill_size: ${{ matrix.test_config.prefill_size }}
      decode_size: ${{ matrix.test_config.decode_size }}
      router_size: ${{ matrix.test_config.router_size }}
      test_case: ${{ matrix.test_config.test_case }}
      image: 'swr.cn-southwest-2.myhuaweicloud.com/base_image/dockerhub/lmsysorg/sglang:v0.5.6-ascend-a3'
      install_sglang_from_source: true

  nightly-performance-multi-node-pd-mix-tests:
    name: multi-node-pd-mix
    if: ${{ (github.repository == 'sgl-project/sglang' || github.event_name == 'pull_request') }}
    needs: nightly-performance-multi-node-pd-separation-tests
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        test_config:
          - name: test_ascend_qwen3_235b_w8a8_16p_in2k_out2k_50ms
            node_size: 2
            test_case: test/manual/ascend/performance/test_ascend_qwen3_235b_w8a8_16p_in2k_out2k_50ms.py
          - name: test_ascend_qwen3_480b_w8a8_16p_in3k5_out1k5_50ms
            node_size: 2
            test_case: test/manual/ascend/performance/test_ascend_qwen3_480b_w8a8_16p_in3k5_out1k5_50ms.py
    uses: nightly-test-npu-perf-multi-node-pd-mix.yml
    with:
      runner: linux-aarch64-a3-0
      test_config_name: ${{ matrix.test_config.name }}
      node_size: ${{ matrix.test_config.node_size }}
      test_case: ${{ matrix.test_config.test_case }}
      image: 'swr.cn-southwest-2.myhuaweicloud.com/base_image/dockerhub/lmsysorg/sglang:v0.5.6-ascend-a3'
      install_sglang_from_source: true

  nightly-performance-single-node-tests:
    name: single-node
    if: ${{ (github.repository == 'sgl-project/sglang' || github.event_name == 'pull_request') }}
    needs: nightly-performance-multi-node-pd-mix-tests
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        test_config:
          - name: test_ascend_qwen3_30b_w8a8_1p_in3k5_out1k5_50ms
            test_case: test/registered/ascend/performance/test_ascend_qwen3_30b_w8a8_1p_in3k5_out1k5_50ms.py
            runner: linux-aarch64-a3-2
          - name: test_ascend_qwen3_32b_bf16_4p_in4k_out1k5_11ms
            test_case: test/registered/ascend/performance/test_ascend_qwen3_32b_bf16_4p_in4k_out1k5_11ms.py
            runner: linux-aarch64-a3-8
          - name: test_ascend_qwen3_32b_bf16_4p_in6k_out1k5_17_9ms
            test_case: test/registered/ascend/performance/test_ascend_qwen3_32b_bf16_4p_in6k_out1k5_17_9ms.py
            runner: linux-aarch64-a3-8
          - name: test_ascend_qwen3_32b_bf16_8p_in18k_out4k_7ms
            test_case: test/registered/ascend/performance/test_ascend_qwen3_32b_bf16_8p_in18k_out4k_7ms.py
            runner: linux-aarch64-a3-16
          - name: test_ascend_qwen3_32b_w8a8_2p_in2k_out2k_50ms
            test_case: test/registered/ascend/performance/test_ascend_qwen3_32b_w8a8_2p_in2k_out2k_50ms.py
            runner: linux-aarch64-a3-4
          - name: test_ascend_qwen3_32b_w8a8_2p_in3k5_out1k5_50ms
            test_case: test/registered/ascend/performance/test_ascend_qwen3_32b_w8a8_2p_in3k5_out1k5_50ms.py
            runner: linux-aarch64-a3-4
          - name: test_ascend_qwen3_235b_bf16_8p_in11k_out1k_10ms
            test_case: test/registered/ascend/performance/test_ascend_qwen3_235b_bf16_8p_in11k_out1k_10ms.py
            runner: linux-aarch64-a3-16
          - name: test_ascend_qwen3_235b_w8a8_8p_in2k_out2k_50ms
            test_case: test/registered/ascend/performance/test_ascend_qwen3_235b_w8a8_8p_in2k_out2k_50ms.py
            runner: linux-aarch64-a3-16
          - name: test_ascend_qwen3_235b_w8a8_8p_in2k_out2k_100ms
            test_case: test/registered/ascend/performance/test_ascend_qwen3_235b_w8a8_8p_in2k_out2k_100ms.py
            runner: linux-aarch64-a3-16
          - name: test_ascend_qwen3_235b_w8a8_8p_in3k5_out1k5_50ms
            test_case: test/registered/ascend/performance/test_ascend_qwen3_235b_w8a8_8p_in3k5_out1k5_50ms.py
            runner: linux-aarch64-a3-16
          - name: test_ascend_qwen3_480b_w8a8_8p_in3k5_out1k5_50ms
            test_case: test/registered/ascend/performance/test_ascend_qwen3_480b_w8a8_8p_in3k5_out1k5_50ms.py
            runner: linux-aarch64-a3-16
          - name: test_ascend_qwen3_next_80b_w8a8_2p_in3k5_out1k5_50ms
            test_case: test/registered/ascend/performance/test_ascend_qwen3_next_80b_w8a8_2p_in3k5_out1k5_50ms.py
            runner: linux-aarch64-a3-4
          - name: test_ascend_deepseek_r1_w4a8_8p_in2k_out2k_50ms
            test_case: test/registered/ascend/performance/test_ascend_deepseek_r1_w4a8_8p_in2k_out2k_50ms.py
            runner: linux-aarch64-a3-16
          - name: test_ascend_deepseek_r1_w4a8_8p_in3k5_out1k5_50ms
            test_case: test/registered/ascend/performance/test_ascend_deepseek_r1_w4a8_8p_in3k5_out1k5_50ms.py
            runner: linux-aarch64-a3-16
    uses: nightly-test-npu-perf-single-node.yml
    with:
      runner: ${{ matrix.test_config.runner }}
      test_config_name: ${{ matrix.test_config.name }}
      test_case: ${{ matrix.test_config.test_case }}
      image: 'swr.cn-southwest-2.myhuaweicloud.com/base_image/dockerhub/lmsysorg/sglang:v0.5.6-ascend-a3'
      install_sglang_from_source: true
