name: 'ascend test / nightly-a3'

on:
  schedule:
      # Run test at 24:00 Beijing time (UTC+8)
      - cron: "0 0 * * *"
  pull_request: 
    branches:
      - 'main'
    paths:
      - ".github/workflows/nightly-test-ascend-a3.yml"
  workflow_dispatch:

concurrency:
  group: ascend-nightly-test-${{ github.ref }}-a3
  cancel-in-progress: true

jobs:
  multi-node-tests:
    name: multi-node
    if: ${{ (github.repository == 'sgl-project/sglang' || github.event_name == 'pull_request') }}
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        test_config:
          - name: test_ascend_deepseek_r1_w8a8_2p1d_in3500_out1500
            prefill_size: 2
            decode_size: 2
            router_size: 1
            test_case: test/srt/ascend_k8s/test_ascend_deepseek_r1_w8a8_2p1d_in3500_out1500.py
          - name: test_ascend_deepseek_r1_w4a8_1p1d_in3500_out1500
            prefill_size: 1
            decode_size: 1
            router_size: 1
            test_case: test/srt/ascend_k8s/test_ascend_deepseek_r1_w4a8_1p1d_in3500_out1500.py
    uses: ./.github/workflows/nightly-test-ascend-multi-node.yml
    with:
      soc_version: a3
      runner: linux-amd64-cpu-0
      image: 'swr.cn-southwest-2.myhuaweicloud.com/base_image/dockerhub/lmsysorg/sglang:main-cann8.3.rc1-a3'
      test_config_name: ${{ matrix.test_config.name }}
      prefill_size: ${{ matrix.test_config.prefill_size }}
      decode_size: ${{ matrix.test_config.decode_size }}
      router_size: ${{ matrix.test_config.router_size }}
      sglang_source_path: '/data/.cache/tests/sglang'
      test_case: ${{ matrix.test_config.test_case }}
      
  single-node-tests:
    name: single-node
    if: ${{ (github.repository == 'sgl-project/sglang' || github.event_name == 'pull_request') }}
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        test_config:
          - name: test_ascend_deepseek_r1_w4a8_single_in3500_out1500
            os: linux-aarch64-a3-16
            test_case: test/srt/ascend_k8s/test_ascend_deepseek_r1_w4a8_single_in3500_out1500.py
          - name: test_ascend_qwen3_8b_in1000_out300_bs8
            os: linux-aarch64-a3-4
            test_case: test/srt/ascend_k8s/test_ascend_qwen3_8b_in1000_out300_bs8.py
          - name: test_ascend_qwen3_8b_in1000_out300_bs16
            os: linux-aarch64-a3-4
            test_case: test/srt/ascend_k8s/test_ascend_qwen3_8b_in1000_out300_bs16.py
          - name: test_ascend_qwen3_coder_480b_a35b_instruct_w8a8_quarot_in16k_out10k
            os: linux-aarch64-a3-16
            test_case: test/srt/ascend_k8s/test_ascend_qwen3_coder_480b_a35b_instruct_w8a8_quarot_in16k_out10k.py
          - name: test_ascend_QWQ3_32B_in6144_out1500_bs16
            os: linux-aarch64-a3-4
            test_case: test/srt/ascend_k8s/test_ascend_QWQ3_32B_in6144_out1500_bs16.py
          - name: test_ascend_QWQ3_32B_in6144_out1500_bs8
            os: linux-aarch64-a3-4
            test_case: test/srt/ascend_k8s/test_ascend_QWQ3_32B_in6144_out1500_bs8.py
          - name: test_ascend_Qwen3_235B_in2048_out2048_bs78
            os: linux-aarch64-a3-16
            test_case: test/srt/ascend_k8s/test_ascend_Qwen3_235B_in2048_out2048_bs78.py
          - name: test_ascend_Qwen3_32B_in1024_out300_bs16
            os: linux-aarch64-a3-4
            test_case: test/srt/ascend_k8s/test_ascend_Qwen3_32B_in1024_out300_bs16.py
          - name: test_ascend_Qwen3_32B_in1024_out300_bs32
            os: linux-aarch64-a3-4
            test_case: test/srt/ascend_k8s/test_ascend_Qwen3_32B_in1024_out300_bs32.py
          - name: test_ascend_Qwen3_32B_in2048_out2048_bs78
            os: linux-aarch64-a3-4
            test_case: test/srt/ascend_k8s/test_ascend_Qwen3_32B_in2048_out2048_bs78.py
          - name: test_ascend_Qwen3_32B_in3500_out1500_bs78
            os: linux-aarch64-a3-4
            test_case: test/srt/ascend_k8s/test_ascend_Qwen3_32B_in3500_out1500_bs78.py
          - name: test_ascend_Qwen3_32B_in6144_out1500_bs16
            os: linux-aarch64-a3-4
            test_case: test/srt/ascend_k8s/test_ascend_Qwen3_32B_in6144_out1500_bs16.py
          - name: test_ascend_Qwen3_32B_in6144_out1500_bs32
            os: linux-aarch64-a3-4
            test_case: test/srt/ascend_k8s/test_ascend_Qwen3_32B_in6144_out1500_bs32.py
          - name: test_ascend_Qwen3_Next_80B_A3B_in1000_out300_bs16
            os: linux-aarch64-a3-4
            test_case: test/srt/ascend_k8s/test_ascend_Qwen3_Next_80B_A3B_in1000_out300_bs16.py
          - name: test_ascend_Qwen3_Next_80B_A3B_in1000_out300_bs32
            os: linux-aarch64-a3-4
            test_case: test/srt/ascend_k8s/test_ascend_Qwen3_Next_80B_A3B_in1000_out300_bs32.py
          - name: test_ascend_Qwen3_Next_80B_A3B_in1000_out300_bs8
            os: linux-aarch64-a3-4
            test_case: test/srt/ascend_k8s/test_ascend_Qwen3_Next_80B_A3B_in1000_out300_bs8.py
    uses: ./.github/workflows/nightly-test-ascend-single-node.yml
    with:
      runner:  ${{ matrix.test_config.os }}
      image: 'swr.cn-southwest-2.myhuaweicloud.com/base_image/dockerhub/lmsysorg/sglang:main-cann8.3.rc1-a3'
      test_config_name: ${{ matrix.test_config.name }}
      test_case: ${{ matrix.test_config.test_case }}


