name: Nightly-test-text-accuracy-2-gpu-runner

on:
  workflow_call:

jobs:
  test:
    runs-on: 2-gpu-runner
    continue-on-error: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          bash scripts/ci/ci_install_dependency.sh

      - name: Run eval test for text models
        timeout-minutes: 120
        run: |
          cd test/srt
          python3 nightly/test_text_models_gsm8k_eval.py
