name: 'e2e nightly test single_node (Ascend NPU)'

on:
  workflow_call:
    inputs:
      soc_version:
        required: true
        type: string
        description: use a2 or a3
      runner:
        required: false
        type: string
        default: linux-amd64-cpu-0
      image:
        required: false
        type: string
        description: image for pods
        default: "swr.cn-southwest-2.myhuaweicloud.com/base_image/dockerhub/lmsysorg/sglang:main-cann8.3.rc1-a3"
      test_config_name:
        required: true
        type: string
        description: test config name
      sglang_source_path:
        required: true
        type: string
        description: sglang source path in container
      test_case:
        required: true
        type: string
        description: path of test case file
      npu_num:
        required: true
        type: number
        description: number of npus required for the testcase

concurrency:
  group: ascend-nightly-singlenode-${{ github.workflow_ref }}-${{ github.ref }}--${{ inputs.test_config_name }}
  cancel-in-progress: true

jobs:
  e2e:
    name: ${{ inputs.test_config_name }}
    runs-on: ${{ inputs.runner }}
    container:
      image: swr.ap-southeast-1.myhuaweicloud.com/base_image/ascend-ci/sglang:main-x86
      env:
        KUBECONFIG: /data/.cache/kb.yaml
        KUBECTL: /data/.cache/kubectl
        NAMESPACE: ascend-sglang-single
        ASCEND_TEST_CASE_PATH: test/srt/ascend_k8s
        KUBE_JOB_TYPE: single
    steps:
      - name: Install system denpendencies
        run: |
          # speed up by using infra cache services
          CACHING_URL="cache-service.nginx-pypi-cache.svc.cluster.local"
          sed -Ei "s@(ports|archive).ubuntu.com@${CACHING_URL}:8081@g" /etc/apt/sources.list
          pip config set global.index-url http://${CACHING_URL}/pypi/simple
          pip config set global.extra-index-url "https://pypi.tuna.tsinghua.edu.cn/simple"
          pip config set global.trusted-host "${CACHING_URL} pypi.tuna.tsinghua.edu.cn"
          apt-get update -y
          apt install uuid-runtime -y
          pip3 install -i https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple jinja2-cli

      - name: Install kubernetes
        run: |
          # Install kubernetes
          pip3 install -i https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple kubernetes
          cp $KUBECTL /usr/local/sbin/

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run tests
        timeout-minutes: 300
        env:
          SGLANG_USE_MODELSCOPE: true
          SGLANG_IS_IN_CI: true
          HF_ENDPOINT: https://hf-mirror.com
        run: |
          echo "================prepare for k8s yaml=================="
          cd $ASCEND_TEST_CASE_PATH
          k8s_job_name=sglang-single-$(uuidgen)
          export KUBE_JOB_NAME=${k8s_job_name}
          echo "k8s job name: $KUBE_JOB_NAME"         

          image="${{ inputs.image }}"
          sglang_source_path="${{ inputs.sglang_source_path }}"
          test_case="${{ inputs.test_case }}"
          
          echo "{ \"image\": $image,                                        \
                  \"name_space\": \"$NAMESPACE\",                           \
                  \"kube_job_name\": \"$k8s_job_name\",                    \
                  \"kube_config\": \"$KUBECONFIG\",                         \
                  \"sglang_source_path\": \"$sglang_source_path\",          \
                  \"test_case\": \"$test_case\",                            \
                  \"npu_num\": $npu_num }"                                 |\
              jinja2 k8s_single.yaml.jinja2 -o k8s_single.yaml
          echo "Kubelete config file is generated: ${ASCEND_TEST_CASE_PATH}/k8s_single.yaml"

          echo "================clear resources=================="
          cd $ASCEND_TEST_CASE_PATH
          kubectl delete -f ./k8s_single.yaml --ignore-not-found=true || true

          pod_name_prefix="${KUBE_JOB_NAME}"
          echo "kube name space: $NAMESPACE, pod name prefix: ${pod_name_prefix}"
          while true; do
            if kubectl get po -A -n $NAMESPACE | grep -q "${pod_name_prefix}"; then
              echo "Found exist sglang job, sleeping for 30 seconds..."
              sleep 30
              kubectl get pods | grep "${pod_name_prefix}" | awk '{print $1}' | xargs kubectl delete pod -n $NAMESPACE || true
            else
              echo "No sglang job exist, start test case..."
              break
            fi
          done

          echo "================Run testcase=================="
          python3 -u run_ascend_ci.py

      - name: Post process
        if: always()
        run: |
          kubectl get pods -n $NAMESPACE
          cd $ASCEND_TEST_CASE_PATH
          kubectl delete -f ./k8s_single.yaml --ignore-not-found=true || true