name: Nightly-test-general-4-gpu-h100

on:
  workflow_call:

jobs:
  test:
    runs-on: 4-gpu-h100
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          bash scripts/ci/ci_install_dependency.sh

      - name: Run test
        timeout-minutes: 30
        run: |
          cd test/srt
          python3 run_suite.py --suite nightly-4-gpu --continue-on-error
