name: 'e2e nightly test single_node (Ascend NPU)'

on:
  workflow_call:
    inputs:
      soc_version:
        required: true
        type: string
        description: use a2 or a3
      runner:
        required: false
        type: string
        default: linux-aarch64-a3-16
      image:
        required: false
        type: string
        description: base image for pods
        default: "swr.cn-southwest-2.myhuaweicloud.com/base_image/dockerhub/lmsysorg/sglang:main-cann8.3.rc1-a3"
      test_config_name:
        required: true
        type: string
        description: test config name
      test_case:
        required: true
        type: string
        description: path of test case file

concurrency:
  group: ascend-nightly-singlenode-${{ github.ref }}-${{ inputs.soc_version }}
  cancel-in-progress: true

jobs:
  e2e:
    name: ${{ inputs.test_config_name }}
    runs-on: ${{ inputs.runner }}
    container:
      image: ${{ inputs.image }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run test
        timeout-minutes: 300
        env:
          SGLANG_USE_MODELSCOPE: true
          SGLANG_IS_IN_CI: true
          HF_ENDPOINT: https://hf-mirror.com
        working-directory: /data/.cache/tests/sglang
        run: |
          python3 -u ${test_case}
