name: Nightly-test-general-8-gpu-h20

on:
  workflow_call:

jobs:
  test:
    runs-on: 8-gpu-h20
    continue-on-error: true
    env:
      SGLANG_CI_RDMA_ALL_DEVICES: "mlx5_1,mlx5_2,mlx5_3,mlx5_4"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          bash scripts/ci/ci_install_dependency.sh

      - name: Run test
        timeout-minutes: 30
        env:
          GPU_CONFIG: "8-gpu-h20"
        run: |
          cd test/srt
          python3 run_suite.py --suite nightly-8-gpu-h20 --continue-on-error
