name: PR Test (Xeon)

on:
  push:
    branches: [ main ]
    paths:
      - "python/**"
      - "scripts/ci/**"
      - "test/**"
      - "sgl-kernel/**"
      - ".github/workflows/pr-test-xeon.yml"
      - "docker/xeon.Dockerfile"
  pull_request:
    branches: [ main ]
    paths:
      - "python/**"
      - "scripts/ci/**"
      - "test/**"
      - "sgl-kernel/**"
      - ".github/workflows/pr-test-xeon.yml"
      - "docker/xeon.Dockerfile"
    types: [synchronize, labeled]
  workflow_dispatch:

concurrency:
  group: pr-test-xeon-${{ github.ref }}
  cancel-in-progress: false

jobs:
  build-test:
    if: github.event_name != 'pull_request' || contains(github.event.pull_request.labels.*.name, 'run-ci')
    runs-on: xeon-gnr
    env:
      HF_HOME: /home/sdp/.cache/huggingface
    strategy:
      matrix:
        build_type: ['all']
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build and Push
        run: |
          version=$(cat python/sglang/version.py | cut -d'"' -f2)
          tag=v${version}-xeon
          PR_REPO=${{ github.event.pull_request.head.repo.clone_url }}
          PR_HEAD_REF=${{ github.head_ref }}

          docker build \
            ${PR_REPO:+--build-arg SGLANG_REPO=$PR_REPO} \
            ${PR_HEAD_REF:+--build-arg VER_SGLANG=$PR_HEAD_REF} \
            . -f docker/xeon.Dockerfile  -t sglang_xeon --no-cache

      - name: Run container
        run: |
          docker run -dt \
            -v ${{ github.workspace }}:/sglang-checkout/ --ipc=host \
            -v ${HF_HOME}:/root/.cache/huggingface \
            --name ci_sglang_xeon \
            sglang_xeon

      - name: Check AMX support
        id: check_amx
        timeout-minutes: 5
        run: |
          docker exec -w /sglang-checkout/ ci_sglang_xeon \
            bash -c "python3 -c 'import torch; import sgl_kernel; assert torch._C._cpu._is_amx_tile_supported(); assert hasattr(torch.ops.sgl_kernel, \"convert_weight_packed\"); '"

      - name: Run unit tests
        timeout-minutes: 36
        run: |
          docker exec -w /sglang-checkout/ ci_sglang_xeon \
            bash -c "cd ./test/srt && python3 run_suite.py --suite per-commit-cpu --timeout-per-file 1500"

      - name: Change permission
        timeout-minutes: 2
        run: |
          docker exec -u root ci_sglang_xeon bash -c "
            rm -rf /tmp/ci-home  &&
            chown -R  $(id -u):$(id -g) /sglang-checkout/ 2>/dev/null || true
          "

      - name: Cleanup container
        if: always()
        run: |
          docker rm -f ci_sglang_xeon || true
