name: Release Docker Xeon Images
on:
  push:
    branches:
      - main
    paths:
      - "python/sglang/version.py"
  workflow_dispatch:

jobs:
  publish:
    if: github.repository == 'sgl-project/sglang'
    runs-on: ubuntu-24.04
    environment: 'prod'
    strategy:
      matrix:
        build_type: ['all']
    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        run: |
          version=$(cut -d'"' -f2 < python/sglang/version.py)
          tag=v${version}-xeon

          docker build . -f docker/xeon.Dockerfile  -t lmsysorg/sglang:"${tag}" --no-cache
          docker push lmsysorg/sglang:"${tag}"
