name: Release Docker Images Nightly (NPU)
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.sha }}
  cancel-in-progress: true

jobs:
  build-and-push:
    uses: ./.github/workflows/reusable-npu-build.yml
    with:
      image_tag_prefix: nightly
      is_nightly: true
