name: Release Docker Images (NPU)
on:
  push:
    tags:
      - v*
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.sha }}
  cancel-in-progress: true

jobs:
  build-and-push:
    uses: ./.github/workflows/reusable-npu-build.yml
    with:
      image_tag_prefix: ${{ github.ref_name }}
      is_release: true
      version: ${{ github.ref_name }}
