name: Unit Test

on:
  push:
    branches: [ main ]
    paths:
      - "python/sglang/**"
      - "test/**"
  pull_request:
    branches: [ main ]
    paths:
      - "python/sglang/**"
      - "test/**"
  workflow_dispatch:

concurrency:
  group: unit-test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-test:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m venv .venv
        source .venv/bin/activate
        echo "${{ github.workspace }}/.venv/bin" >> $GITHUB_PATH

        pip cache purge
        pip install --upgrade pip
        pip install -e "python[all]"
        pip install flashinfer -i https://flashinfer.ai/whl/cu121/torch2.3/ --force-reinstall
        pip install --upgrade transformers

    - name: Test Frontend Language with OpenAI Backend
      run: |
        cd test/lang
        python3 test_openai_backend.py

    - name: Test Frontend Language with SRT Backend
      run: |
        cd test/lang
        python3 test_srt_backend.py

    - name: Test OpenAI API Server
      run: |
        cd test/srt
        python3 test_openai_server.py

    - name: Test Accuracy
      run: |
        cd test/srt
        python3 test_eval_accuracy.py
